# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Users\kamranabbasi\Downloads\Gokhan_Wohnung 2-20220309T122521Z-001\Gokhan_Wohnung 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
